body {
  padding-top: 70px;
}

.jumbotron {
  box-shadow: 3px 4px 15px -6px #000;
}

.section {
  width: 100%;
  padding: 20px;
}

section {
  padding-top: 50px;
  margin-top: -50px;
}

.bg-grey {
  background-color: #eee;
  color: #000;
}

.bg-white {
  background-color: #fff;
  color: #000;
}

.only-print {
  display: none;
}

.img-center {
  margin: 0 auto;
}

/****************************************
 * Box
 ***************************************/
.box {
    box-shadow: 3px 4px 15px -6px #000;
    padding: 20px 25px;
    position: relative;
    margin: 0 2px;
    border-radius: 5px;
}
